.custom-btn{
    text-align:center;
    border: 2px solid var(--white);
    padding: 0.5rem;
    border-radius: 0.35rem;
    cursor: pointer;
    width: 71vw;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;

}
.custom-btn:hover {
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.2s;
  }